<h1>Tasks</h1>

<dl>
    <% @tasks.each do |task| %>
        <dt>
            <h3>
                <%= task.title %>
            </h3>
            <dd>
            <%= task.text %>
            </dd>
        </dt>
    <% end %>
</dl>
<%= link_to 'New Task', new_task_path %>
